<h3 class="text-center my-3 fw-normal">All Customers</h3>
<div class="container d-flex justify-content-center mb-3">
  <table class="content-table">
    <thead>
      <tr class="table-active">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">stut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coustomer of Coustomers" class="active-row">
        <th scope="row">{{ coustomer.id }}</th>
        <td>{{ coustomer.fristname }}</td>
        <td>{{ coustomer.email }}</td>
        <td>{{ coustomer.phone }}</td>
        <td>
          <a
            class="btn btn-success float-end"
            [routerLink]="['/edite', coustomer.id]"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a
            class="btn btn-info float-end mx-3"
            [routerLink]="['/Veiw2', coustomer.id]"
          >
            <i class="fa-solid fa-eye"></i>
          </a>
          <a
            class="btn btn-danger float-end"
            (click)="Deletcoust(coustomer.id)"
          >
            <i class="fa-solid fa-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
