<div class="container">
  <h2 class="text-center my-5">Customers</h2>
  <div class="card" style="width: 30rem">
    <img
      src="https://cdn.shopify.com/shopifycloud/web/assets/v1/vite/client/en/assets/empty-state-8e494e95.svg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <div class="d-grid gap-2 mx-auto my-1">
        <button class="btn add" [routerLink]="['/addcoustomer']">
          New Customers
        </button>
        <button class="btn add" [routerLink]="['/list']">
          Import Customers
        </button>
      </div>
    </div>
  </div>
</div>
